# MONGODB
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_HOST=
MONGODB_PORT=
MONGODB_NAME=
MONGODB_AUTHSOURCE=

# MODEL
MODEL_RETINAFACE_URL=
MODEL_ARCFACE_URL=

# JWT
JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=
JWT_REFRESH_TOKEN_EXPIRE_MINUTES=

# DATA PATH
USERS_DATA_PATH=

# API endpoint để gửi dữ liệu attendance
UPDATE_ATTENDANCE_API_KEY=
UPDATE_ATTENDANCE_API_URL=

# API endpoint để đồng bộ faiss
UPDATE_FAISS_API_KEY=
UPDATE_FAISS_API_URL=

# Telegram bot token
TELEGRAM_BOT_TOKEN=