.DS_Store
__pycache__/
*.pyc
.idea/
runs/
cert_and_key/
greeting.mp3
3hinc.jpg
device.txt
attendance_images/
log_main.log
log_nohup.txt
.env
audio_cache
supervisor
main_config.json
models/
users_data/
logs/
config.yaml
users_data_deleted/